mat-card{
  width: 350px;
  height: 400px;
  display: block;
  margin-left:auto;
  margin-right:auto;  
  margin-top: 80px;
  vertical-align:middle;
}

.mat-card-header .mat-card-title {
  margin-bottom: 50px;
}
.mat-card-header .mat-card-title {
  font-size: 25px !important;
}
.mat-form-field {
  font-size: 16px;
  width: 300px;
  line-height: 2.125;
}
.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
 font-size: 16px;
 float: right;
 margin-right: 20px;
 margin-top: 45px;
}
.form-row{
  display: flex;
}

.form-row input{
  flex: 1;
} 
