<mat-toolbar color="primary" *ngIf="isLoggedIn">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <button mat-menu-item (click)="loadEmployee()">
        <mat-icon>supervisor_account</mat-icon>
        <span>Employee</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">CRUD Operation</span>
</mat-toolbar>
<router-outlet></router-outlet>
